* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

nav img {
    width: 80px;
}

nav .logo {
    align-items: center;
    gap: 1rem;
}

nav ul {
    list-style: none;
    gap: 1rem;
}

nav .link {
    text-decoration: none;
    color: blue;
}